.our-services h1 {
    margin: 25px;
}

.services-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.services-card {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    color: #ffff;
    margin: 0px 12px 0px 12px;
    transition: all 150ms ease;
}

.services-card img {
    height: 55%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #b6b6b6;
    margin-bottom: 10px;
}

.services-card:hover {
    transform: scale(1.05);
}

.quote {
    width: 175px;
    margin: 30px;
}

.slideshow-container.square-gallery {
    width: 50%;
    margin-right: 20px;
}

.content {
    width: 55%;
    padding: 20px;
    margin-left: 20px;
}

@media only screen and (max-width: 900px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .services-card {
        max-width: 80%;
        margin: 12px;
    }

    .testimonials .div-center, .about-us .div-center {
        flex-direction: column;
    }

    .testimonials .slideshow-container.square-gallery, .about-us .slideshow-container.square-gallery {
        width: 85%;
        margin: 0px;
    }

    .testimonials .content, .about-us .content {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
}

@media only screen and (max-width: 375px) {
    .quote {
        margin: 10px;
        width: 125px;
    }
}