html {
    scroll-behavior: smooth;
}

body {
    background: #ffff;
    font-family: 'Montserrat';
    max-width: 100%;
    margin: 0;
}

.nav-bar-horizontal {
    width: 100%;
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    align-items: center;
    z-index: 10;
    justify-content: space-between;
}

.nav-bar-horizontal a,
.nav-bar-horizontal .hamburger {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.5s ease;
    margin: 0px 5px 0px 5px;
    border-radius: 0.77vh;
    cursor: pointer;
}

.nav-bar-horizontal .hamburger {
    font-size: 2.5rem;
    display: none;
}

.nav-bar-horizontal a:hover,
.nav-bar-horizontal .hamburger:hover {
    background-color: #3b3a52;
}

.nav-bar-horizontal a.active,
.nav-bar-vertical a.active {
    background-color: #A3A380;
    font-weight: bold;
}

.logo {
    width: 400px;
    margin: 15px;
}

@media only screen and (max-width: 1400px) {
    .nav-bar-horizontal .hamburger {
        position: absolute;
        display: block;
        right: 10px;
    }

    .nav-bar-horizontal a {
        display: none;
    }
}

.nav-bar-vertical {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #1F1E28;
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar-vertical a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #f2f2f2;
    display: block;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}

.nav-bar-vertical a:hover {
    background-color: #3b3a52;
}

.nav-bar-vertical .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    margin: 10px;
    padding: 14px;
}

.top {
    background: #474747;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.top .logo {
    width: 150px;
    position: absolute;
    bottom: 180px;
}

h1 {
    color: #ffff;
    font-size: 38px;
    margin: 0;
}

h2 {
    color: #ffff;
    font-size: 26px;
    margin: 0;
}

.button {
    padding: 10px;
    font-weight: bold;
    color: #A3A380;
    border: 2px solid #A3A380;
    border-radius: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.button.dark-bg {
    background-color: #474747;
}

.button.light-bg {
    background-color: #ffff;
}

.button:hover {
    color: #ffff;
    background-color: #A3A380;
}