.content {
    width: 70%;
    padding: 20px;
    margin-left: 20px;
}

.about-us, .our-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-center .lbp-logo {
    width: 25%;
    margin-right: 20px;
}

.slideshow-container.square-gallery {
    width: 50%;
    margin-right: 20px;
}

@media only screen and (max-width: 900px) {
    .our-projects .div-center, .about-us .div-center {
        flex-direction: column;
    }

    .our-projects .slideshow-container.square-gallery, .about-us .slideshow-container.square-gallery {
        width: 85%;
        margin: 0px;
    }

    .our-projects .content, .about-us .content {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
}