<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/cj-spurr-icon-w.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/imageCarousel.css">
    <script defer src="js/verticalNavBar.js"></script>
    <script defer src="js/autoImageCarousel.js"></script>
    <script defer src="js/shrinkNavBar.js"></script>
    <title>C J SPURR BUILDERS LTD</title>
</head>

<body>
    <%- include('partials/navbar') %>
    <section>
        <div class="slideshow-container full-width">
            <img src="images/LBPLogo.png" alt="licensed building practitioner logo" class="lbp-logo">
            <div class="mySlides fade">
                <img src="images/Albro-Lane-Algies-Bay-3.jpg" draggable="false">
            </div>

            <div class="mySlides fade">
                <img src="images/Albro-Lane-Algies-Bay-8.jpg" draggable="false">
            </div>

            <div class="mySlides fade">
                <img src="images/Albro-Lane-Algies-Bay-9.jpg" draggable="false">
            </div>

            <div class="dot-container" style="margin-left: 15px;">
                <span class="dot">
                    <span class="dot-bg"></span>
                    <span class="dot-fill"></span>
                </span>
                <span class="dot">
                    <span class="dot-bg"></span>
                    <span class="dot-fill"></span>
                </span>
                <span class="dot">
                    <span class="dot-bg"></span>
                    <span class="dot-fill"></span>
                </span>
            </div>
        </div>

        <div class="grey">
            <img src="images/cj-spurr-icon-w.png" alt="C J SPURR BUILDERS LTD Logo" class="top logo" draggable="false">
            <br><br><br><br>
            <div style="display: contents;">
                <h1>PAGE NOT FOUND</h1>
                <h2>SORRY, THE PAGE YOU’RE LOOKING FOR DOESN’T EXIST</h2>
                <br>
                <a class="button grey-bg" href="/">GO BACK</a>
                <br><br>
            </div>
        </div>
    </section>
    <%- include('partials/footer') %>
</body>

</html>