<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/cj-spurr-icon-w.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/imageCarousel.css">
    <link rel="stylesheet" href="css/ourServices.css">
    <script defer src="js/verticalNavBar.js"></script>
    <script defer src="js/autoImageCarousel.js"></script>
    <script defer src="js/imageCarosuel.js"></script>
    <script defer src="js/shrinkNavBar.js"></script>
    <title>OUR SERVICES | C J SPURR BUILDERS LTD</title>
</head>

<body>
    <%- include('partials/navbar') %>
    <section>
        <div class="slideshow-container full-width">
            <img src="images/LBPLogo.png" alt="licensed building practitioner logo" class="lbp-logo">
            <div class="mySlides fade">
                <img src="images/Pukapuka-Road-6.jpg" draggable="false">
            </div>

            <div class="mySlides fade">
                <img src="images/Pukapuka-Road-2.jpg" draggable="false">
            </div>

            <div class="mySlides fade">
                <img src="images/Pukapuka-Road-7.jpg" draggable="false">
            </div>

            <div class="dot-container" style="margin-left: 15px;">
                <span class="dot">
                    <span class="dot-bg"></span>
                    <span class="dot-fill"></span>
                </span>
                <span class="dot">
                    <span class="dot-bg"></span>
                    <span class="dot-fill"></span>
                </span>
                <span class="dot">
                    <span class="dot-bg"></span>
                    <span class="dot-fill"></span>
                </span>
            </div>
        </div>

        <div class="grey">
            <img src="images/cj-spurr-icon-w.png" alt="C J SPURR BUILDERS LTD Logo" class="top logo" draggable="false">
            <br><br><br><br>
            <div style="display: contents;">
                <h1>OUR SERVICES</h1>
                <h2 class="services-summary-1">“KEEPING OUR CLIENTS INFORMED THROUGHOUT THE ENTIRE PROCESS IS KEY TO
                    WHAT WE DO”</h2>
                <br>
                <a class="button grey-bg" href="/contact">CONTACT US</a>
                <br><br>
            </div>
        </div>
    </section>
    <section class="about-us">
        <br><br>
        <h1 style="color: #000; text-align: center;">WE LISTEN</h1>
        <div class="div-center">
            <div class="slideshow-container square-gallery">
                <div class="mySlides fade">
                    <img src="images/Sandspit-Photo-New-1.jpg" draggable="false">
                </div>

                <div class="mySlides fade">
                    <img src="images/Baddeleys-Beach-4.jpg" draggable="false">
                </div>

                <div class="mySlides fade">
                    <img src="images/Rainbows-End-2.jpg" draggable="false">
                </div>

                <a class="prev">&#10094;</a>
                <a class="next">&#10095;</a>

                <div class="dot-container center">
                    <span class="dot">
                        <span class="dot-bg"></span>
                        <span class="dot-fill"></span>
                    </span>
                    <span class="dot">
                        <span class="dot-bg"></span>
                        <span class="dot-fill"></span>
                    </span>
                    <span class="dot">
                        <span class="dot-bg"></span>
                        <span class="dot-fill"></span>
                    </span>
                </div>
            </div>
            <div class="content">
                <p>At C J Spurr Builders Warkworth, we understand that the thought of building can be daunting. When you
                    build with us, you can be assured of our expert advice and experience to guide you through the whole
                    house building process from start to finish, from the earthworks right through to final completion
                    and Council signoff.
                </p>
                <p>Communication is key, so we will listen to you and walk you through every stage of the entire
                    building process.</p>
                <p>We don’t stretch ourselves between multiple projects; you can be assured you will receive our full
                    attention. All builds are project managed by Chris Spurr personally at C J Spurr Builders. This is
                    our work ethic and we believe that this sets us apart from other house builders.</p>
                <p>Over the years, we have built solid relationships and alliances with excellent sub-contractors,
                    suppliers, designers, architects and engineers. This ensures a coordinated approach is taken, so
                    that each project is completed to an exceptional standard.</p>
                <br>
                <a class="button light-bg" href="/our-projects">OUR PROJECTS</a>
            </div>
        </div>
    </section>
    <section class="grey our-services">
        <h1>OUR SERVICES</h1>
        <div class="services-container">
            <div class="services-card">
                <img src="images/Leigh-6.jpg" alt="">
                <h2>RENOVATIONS</h2>
                <p>Whether it is a large or small renovation, we approach every build with thought, care and precision.
                    Working with the right building team is absolutely critical to the success of your renovation
                    project. Knowing you can place full trust in your builder makes all the difference.</p>
            </div>
            <div class="services-card">
                <img src="images/Pukapuka-Road-5.jpg" alt="">
                <h2>NEW BUILDS</h2>
                <p>At C J Spurrs Builders we specialise in creating beautiful, architectural homes. If you are looking
                    for a team of skilled tradespeople to construct your dream home, you’ve come to the right place.</p>
            </div>
            <div class="services-card">
                <img src="images/Sandspit-Photo-New-4.jpg" alt="">
                <h2>OUTDOOR AREAS</h2>
                <p>Looking for fantastic outdoor living areas for relaxing and entertaining as well as storage zones,
                    privacy, protection, decks and stairways? We can create clever and efficient use of outdoor spaces
                    to add value and appeal.</p>
            </div>
        </div>
    </section>
    <section class="our-projects">
        <br><br>
        <h1 style="color: #000; text-align: center;">“WE TAKE GREAT PERSONAL PRIDE IN EVERY PROJECT UNDERTAKEN”.</h1>
        <div class="div-center">
            <div class="slideshow-container square-gallery">
                <div class="mySlides fade">
                    <img src="images/Rainbows-End-5.jpg" draggable="false">
                </div>

                <div class="mySlides fade">
                    <img src="images/Sandspit-Photo-New-7.jpg" draggable="false">
                </div>

                <div class="mySlides fade">
                    <img src="images/Quintal-Matakana-7.jpg" draggable="false">
                </div>

                <a class="prev">&#10094;</a>
                <a class="next">&#10095;</a>

                <div class="dot-container center">
                    <span class="dot">
                        <span class="dot-bg"></span>
                        <span class="dot-fill"></span>
                    </span>
                    <span class="dot">
                        <span class="dot-bg"></span>
                        <span class="dot-fill"></span>
                    </span>
                    <span class="dot">
                        <span class="dot-bg"></span>
                        <span class="dot-fill"></span>
                    </span>
                </div>
            </div>
            <div class="content">
                <p>We provide full building and project management services for new home builds, renovation and
                    alteration projects.
                </p>
                <p>When it comes to residential building services, C J Spurr Builders Warkworth has a range of options
                    for you to select from including:</p>
                <ul>
                    <li>Architecturally designed homes</li>
                    <li>House additions</li>
                    <li>Kitchen or bathroom renovations</li>
                    <li>Outdoor rooms – pergolas or cabanas</li>
                    <li>Decking</li>
                    <li>Hard landscaping (retaining and steps)</li>
                </ul>
                <br>
                <a class="button light-bg" href="/contact">CONTACT US</a>
            </div>
        </div>
    </section>
    <section style="background-color: #e1e1e1;">
        <div class="div-center" id="what-our-clients-say">
            <div style="display: flex; align-items: center; width: 50%; margin-right: 20px;">
                <img class="quote" src="images/Quote.png" alt="">
                <h1 style="color: #000;">WHAT<br>OUR<br>CLIENTS<br>SAY...</h1>
            </div>
            <div style="width: 55%; padding: 20px; margin-left: 20px;">
                <hr>
                <div>
                    <p>To say we are delighted with your work, would be an understatement.</p>
                    <p>We would have absolutely no hesitation in recommending C J Spurr Builders to any prospective
                        client.</p>
                    <p style="font-style: italic; font-weight: 700;">Ian Fair</p>
                </div>
                <hr>
                <br>
                <a class="button lighter-grey-bg" href="/testimonials">TESTIMONIALS</a>
            </div>
        </div>
    </section>
    <section class="our-projects">
        <br><br>
        <h1 style="color: #000; text-align: center;">LOCAL WARKWORTH HOUSE BUILDERS</h1>
        <div class="div-center">
            <div class="slideshow-container square-gallery">
                <div class="mySlides fade">
                    <img src="images/Quintal-Matakana-8.jpg" draggable="false">
                </div>

                <div class="mySlides fade">
                    <img src="images/Albro-Lane-Algies-Bay-1.jpg" draggable="false">
                </div>

                <div class="mySlides fade">
                    <img src="images/Sandspit-Photo-New-2.jpg" draggable="false">
                </div>

                <a class="prev">&#10094;</a>
                <a class="next">&#10095;</a>

                <div class="dot-container center">
                    <span class="dot">
                        <span class="dot-bg"></span>
                        <span class="dot-fill"></span>
                    </span>
                    <span class="dot">
                        <span class="dot-bg"></span>
                        <span class="dot-fill"></span>
                    </span>
                    <span class="dot">
                        <span class="dot-bg"></span>
                        <span class="dot-fill"></span>
                    </span>
                </div>
            </div>
            <div class="content">
                <p>You came to us because you were looking for house builders you can feel comfortable with and for
                    house builders whose work you can see. Over the years, we have built and renovated homes in Algies
                    Bay, Kaipara, Leigh, Mahurangi West, Mangawhai, Matakana, Maungataroto, Omaha, Pakiri, Rainbows End,
                    Riverhead, Sandspit, Scotts Landing, Snells Beach and Tawharanui, to name but a few places
                    throughout Rodney and North Auckland.
                </p>
                <p>We have worked on each and every project and personally overseen every detail. There is no middleman
                    when you build with C J Spurr Builders Warkworth, the work is done by us. Effective, personalised
                    project management and a passion for what we do means your dream home will happen without the
                    dramas.</p>
                <br>
                <a class="button light-bg" href="/contact">CONTACT US</a>
            </div>
        </div>
    </section>
    <section class="light grey">
        <div class="div-center" style="flex-direction: column;">
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <h1 class="quote-header">As Your Home Builders,<br>You Get Our Full Attention</h1>
                <img src="images/cj-spurr-icon-w.png" alt="C J SPURR BUILDERS LTD Logo" class="bottom logo"
                    draggable="false">
            </div>
            <p style="color: #ffff; max-width: 60%;">Please call Chris Spurr on <a href="tel:027-276-6639"
                    style="text-decoration: none; font-weight: 800; color: #ffff;">027 276 6639</a> to talk about your next building project. He takes a truly personal interest in every build he does and looks forward to speaking with you.</p>
            <a class="button light-grey-bg" href="/contact">CONTACT US</a>
        </div>
    </section>
    <%- include('partials/footer') %>
</body>

</html>