<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/cj-spurr-icon-w.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/imageCarousel.css">
    <link rel="stylesheet" href="css/testimonials.css">
    <script defer src="js/verticalNavBar.js"></script>
    <script defer src="js/autoImageCarousel.js"></script>
    <script defer src="js/imageCarosuel.js"></script>
    <script defer src="js/shrinkNavBar.js"></script>
    <title>TESTIMONIALS | C J SPURR BUILDERS LTD</title>
</head>

<body>
    <%- include('partials/navbar') %>
    <section>
        <div class="slideshow-container full-width">
            <img src="images/LBPLogo.png" alt="licensed building practitioner logo" class="lbp-logo">
            <div class="mySlides fade">
                <img src="images/Pukapuka-Road-6.jpg" draggable="false">
            </div>

            <div class="mySlides fade">
                <img src="images/Pukapuka-Road-2.jpg" draggable="false">
            </div>

            <div class="mySlides fade">
                <img src="images/Pukapuka-Road-7.jpg" draggable="false">
            </div>

            <div class="dot-container" style="margin-left: 15px;">
                <span class="dot">
                    <span class="dot-bg"></span>
                    <span class="dot-fill"></span>
                </span>
                <span class="dot">
                    <span class="dot-bg"></span>
                    <span class="dot-fill"></span>
                </span>
                <span class="dot">
                    <span class="dot-bg"></span>
                    <span class="dot-fill"></span>
                </span>
            </div>
        </div>

        <div class="grey">
            <img src="images/cj-spurr-icon-w.png" alt="C J SPURR BUILDERS LTD Logo" class="top logo" draggable="false">
            <br><br><br><br>
            <div style="display: contents;">
                <h1>TESTIMONIALS</h1>
                <h2 class="services-summary-1">“DON’T JUST TAKE OUR WORD FOR IT, SEE WHAT OUR CLIENTS HAVE TO SAY.”</h2>
                <br>
                <a class="button grey-bg" href="contact.html">CONTACT US</a>
                <br><br>
            </div>
        </div>
    </section>
    <section class="about-us">
        <br><br>
        <h1 style="color: #000; text-align: center;">NEW HOME AND RENOVATIONS BUILDERS</h1>
        <div class="div-center">
            <div class="slideshow-container square-gallery">
                <div class="mySlides fade">
                    <img src="images/Sandspit-Photo-New-1.jpg" draggable="false">
                </div>

                <div class="mySlides fade">
                    <img src="images/Baddeleys-Beach-4.jpg" draggable="false">
                </div>

                <div class="mySlides fade">
                    <img src="images/Rainbows-End-2.jpg" draggable="false">
                </div>

                <a class="prev">&#10094;</a>
                <a class="next">&#10095;</a>

                <div class="dot-container center">
                    <span class="dot">
                        <span class="dot-bg"></span>
                        <span class="dot-fill"></span>
                    </span>
                    <span class="dot">
                        <span class="dot-bg"></span>
                        <span class="dot-fill"></span>
                    </span>
                    <span class="dot">
                        <span class="dot-bg"></span>
                        <span class="dot-fill"></span>
                    </span>
                </div>
            </div>
            <div class="content">
                <p>We have built our reputation on our personalised service. We listen, we consult and we work with you
                    as a team. We take personal responsibility for everything we build, and we do so with confidence
                    because we build with care, skill and professionalism.
                </p>
                <p>Please take a look and see what our clients in Matakana, Algies Bay, Omaha, Mahurangi West, and more
                    have to say about the homes we have built with them.</p>
                <br>
                <a class="button light-bg" href="ourServices.html">OUR SERVICES</a>
            </div>
        </div>
    </section>
    <!-- TODO: ADD MODULAR TESTIMONIALS WHEN SERVER IS ADDED -->
    <!-- TODO: WHEN WIDTH OF SCREEN IS REDUCED, REDUCE WORDS INITIALLY VISIBLE -->
    <section style="background-color: #e1e1e1;">
        <br><br>
        <h1 style="color: #000; text-align: center;">TESTIMONIALS</h1>
        <br>
        <div class="testimonial-carousel">
            <div class="testimonial-container">
                <div class="testimonial">
                    <img class="quote" src="images/Quote.png" alt="">
                    <div class="review-content">
                        <p>We engaged C J Spurr Builders to build our house in 2008. We chose Chris Spurr on the basis
                            of his detailed cost estimate and his obvious thought given to building a house in a very
                            constrained site.</p>
                        <p>The experience was virtually stress free. Chris undertook the project management as well as
                            the actual construction. The quality of the workmanship was outstanding, as can be seen in
                            the photos. It was a challenging site, but each step of the exercise was obviously well
                            planned, and there were no dramas!</p>
                        <a class="button slim light-bg" href="#">VIEW MORE</a>
                    </div>
                    <div class="review-author">
                        <br>
                        <strong>Jim and Jenny Clarke</strong>
                        <p style="font-style: italic;">Baddeleys Beach</p>
                    </div>
                </div>
                <div class="testimonial">
                    <img class="quote" src="images/Quote.png" alt="">
                    <div class="review-content">
                        <p>We engaged C J Spurr Builders to build our house in 2008. We chose Chris Spurr on the basis
                            of his detailed cost estimate and his obvious thought given to building a house in a very
                            constrained site.</p>
                        <p>The experience was virtually stress free. Chris undertook the project management as well as
                            the actual construction. The quality of the workmanship was outstanding, as can be seen in
                            the photos. It was a challenging site, but each step of the exercise was obviously well
                            planned, and there were no dramas!</p>
                        <a class="button slim light-bg" href="#">VIEW MORE</a>
                    </div>
                    <div class="review-author">
                        <br>
                        <strong>Jim and Jenny Clarke</strong>
                        <p style="font-style: italic;">Baddeleys Beach</p>
                    </div>
                </div>
            </div>
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
            <p class="testimonial-count">1 of 10</p>
        </div>
        <br>
        <br>
        <br>
    </section>
    <section class="light grey">
        <div class="div-center" style="flex-direction: column;">
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <h1 class="quote-header">Hands-on<br>Warkworth Builders</h1>
                <img src="images/cj-spurr-icon-w.png" alt="C J SPURR BUILDERS LTD Logo" class="bottom logo"
                    draggable="false">
            </div>
            <p style="color: #ffff; max-width: 60%;">To discuss your plans or make an enquiry about building a new home
                or a renovation project, call Chris Spurr on <a href="tel:027-276-6639"
                    style="text-decoration: none; font-weight: 800; color: #ffff;">027 276 6639</a> or send an email. C
                J Spurr Builders in Warkworth offers building solutions throughout Rodney, North Auckland and the
                Kaipara.</p>
            <a class="button light-grey-bg" href="contact.html">CONTACT US</a>
        </div>
    </section>
    <%- include('partials/footer') %>
</body>

</html>